/* Fonts */

@font-face {
  font-family: "Lenora Premium";
  font-weight: bold;
  src: url("../../static/fonts/LenoraPremium-Bold.otf") format("opentype");
}

/* Document */

body, section, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.webgl
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

h1 {
  font-family: "Lenora Premium";
  font-size: 39.1px;
  color: white;
}

h2 {
  font-family: "Lenora Premium";
  font-size: 31.3px;
  color: white;
}

h3 {
  font-family: "Lenora Premium";
  font-size: 20px;
  color: white;
}

p {
  font-size: 16px;
  color: white;
}

.flex {
  display: flex;
}

section {
  width: 100%;
  height: 100vh;
  background-color: red;
  padding: 15px;
  display: none;

  &.active {
    display: block;
  }

  .container {
    width: 100%;
    height: 100%;
    border: 1.5px solid white;
    border-radius: 14px;
  }
}

/* Loading */
#loading-section, #landing-section, .starting {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

#loading-section, .starting {
  .container {
    padding: 120px 0;
  }

  h2, p {
    text-align: center;
  }

  img {
    width: 70%;
  }
}

/* Landing */
#landing-section {
  .container {
    padding-bottom: 100px;
  }

  h1 {
    &:after {
      content: "";
      display: block;
      width: 205px;
      height: 1px;
      margin-top: 6px;
      background-color: #ffffffbb;
    }
  }

  p {
    text-align: center;
  }

  img {
    width: 70%;
  }

  .speakers-info {
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      margin-right: 12px;
    }
  }

  #start-exp-btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    border: none;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255,255,255,0.4730624671743697) 0%, rgba(255,0,0,0) 61%);     border-bottom-right-radius: 50% 25%;
    border-top-left-radius: 50% 25%;
    border-top-right-radius: 50% 25%;
    transition: bottom 0.5s;

    &:active {
      bottom: 40px;
    }
  }
}

#landing-section, #infos-section {
  button.toggle-infos {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
    
    img {
      width: 30px;
      height: 30px;
    }
  }
}
