// Fonts
@font-face {
  font-family: "Lenora Premium";
  font-weight: bold;
  src: url("../../static/fonts/LenoraPremium-Bold.otf") format("opentype");
}

// Document
.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

// Landing
